:root {
    /* body text sizes */
    --body-s: 12px;
    --body-m: 14px;
    --body-l: 16px;
    --body-xl: 18px;
    --lh-body: 1.5;

    /* heading text sizes */
    --heading-s: 24px;
    --heading-m: 32px;
    --heading-l: 40px;
    --lh-heading: 1.2;

    /* spacing */
    --spacing-xs: 0.25rem;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;

    /* lines */
    --line-s: 1px;
    --line-m: 2px;
    --line-l: 4px;

    /* font-weight */
    --fw-bold: 600;
    --fw-regular: 400;

    /* radii */
    --radius-s: 0.25rem;
    --radius-m: 0.5rem;

    /* color tokens */
    --color-interaction: #0056D6;
    --color-interaction-10: #0056d60e;
    --color-interaction-hover: #141414;
    --color-text: #141414;
    --color-text-secondary: #505050;
    --color-base: #ffffff; 
    --color-border: #b9b9b9;
    --color-border-hover: var(--color-interaction-hover);

    /* font family */
    --family-1: "HK Grotesk", system-ui, Arial, sans-serif
}

* {
    font-family: var(--family-1);
    font-size: var(--body-m);
    line-height: var(--lh-body);
    color: var(--color-text);
}

form, ul, li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-m);
}

input, textarea {
    box-sizing: border-box;
    width: max(100%,320px);
    border: var(--line-s) solid var(--color-border);
    border-radius: var(--radius-s);
    background-color: var(--color-base);
    padding: calc(var(--spacing-s) - var(--line-s)) calc(var(--spacing-m) - var(--line-s));
    flex: 1;
}

li {
    gap: var(--spacing-xs);
}

label {
    font-size: var(--body-m);
    padding-left: var(--spacing-xs);
    color: var(--color-text-secondary);
    font-weight: var(--fw-bold);
}

button {
    box-sizing: border-box;
    padding: calc(var(--spacing-s) - var(--line-s)) calc(var(--spacing-m) - var(--line-s));
    border-radius: var(--radius-m);
    color: var(--color-base);
    font-weight: var(--fw-bold);
    background-color: var(--color-interaction);
    border: var(--line-s) solid var(--color-interaction);
}

button:hover {
    background-color: var(--color-interaction-hover);
    border: var(--line-s) solid var(--color-interaction-hover);
    transition: ease-in 0.3s;
    cursor: pointer;
}

input:hover, textarea:hover, input:active {
    background-color: var(--color-interaction-10);
    border: var(--line-m) solid var(--color-interaction);
    padding: calc(var(--spacing-s) - var(--line-m)) calc(var(--spacing-m) - var(--line-m));
    transition: ease-in 0.3s;
    cursor: pointer;
}